---
---

@import "main";

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("{{ '/assets/images/psychologue-zen.jpg' | absolute_url }}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

section#contact {
  background-color: #212529;
  background-image: url("{{ '/assets/images/2422442.svg' | absolute_url }}");
  background-repeat: no-repeat;
  background-position: center;
}


// div {border: red 1px solid;}

#contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
