---
---

@import "main";

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("{{ '/assets/images/header-bg.jpg' | absolute_url }}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

section#contact {
  background-color: #212529;
  background-image: url("{{ '/assets/images/map-image.png' | absolute_url }}");
  background-repeat: no-repeat;
  background-position: center;
}
